@import "../../utils";
.musicControl{
  width: 100%;
  border-radius: 0.3rem;
  background-color: $greyDark;
  box-shadow: 0 0 10px 0 $boxShadowColor;
  height: 6rem;
  display: flex ;
  justify-content: space-between;
  color: $mainTextColor;
  &:hover {
    color: $secondTextColor !important;
    
  }
  &__blue {
    color: $boxShadowColor;
    &:hover {
      color: $secondTextColor;
    }
  }
  &__left {
    flex: 0.4;
    @include footerFragtion ();
    flex-direction: row;
    justify-content: flex-start;
    &-img {
      height: 3rem;
      width: 3rem;
      border-radius: 0.3rem;
      margin-left: 2rem;
      object-fit: contain;
      margin-top: -0.5rem;
    }
  }
  &__midle {
    flex: 0.4;
    @include footerFragtion ();
    text-align: center; 
    align-items: center;  
  }
  &__playerWrapper {
    outline-color: transparent;
  }

  &__player {
    z-index: 1;
    outline: none !important;
    box-shadow: 0 0 10px 0 $boxShadowColor;
    border-radius: 1.5rem;
  }
  &__right {
    flex: 0.3;
  }
  
  &__songDetail {
    font-size: 0.6rem;
    padding-left: 1rem;
    & > h4 {
      font-size: 0.8rem;
      margin-bottom: 0.5rem;
    }
  }
}
.audio-player {
  cursor: pointer !important;
}
