@import "../../utils";
.landing {
  display: flex;
  flex-direction: row;
  opacity: 0.7;
  &:hover {
    opacity: 1;
    transition: all 0.25s linear;
  }
  @include positionAbsolute(absolute, 50%,50%, translate(-50%, -50%));
  min-width: 50rem;
  min-height: 30rem;
  border-radius: 1.5rem;
  z-index: 2;
  box-shadow: 0 0 10px 0 $boxShadowColor;
  &__left {
    flex: 0.4;
  }
  &__button {
    @include bigButton();
    margin-left: 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 1rem;
    outline: none;
  }
  &__img {
    width: 30rem;
    border-radius: 1.5rem;
    opacity: 1;
    margin: 2rem 0 0 2rem;
    &:hover {
      opacity: 0.7;
      transition: all 0.25s linear;
    }
  }
  &__link {
    text-decoration: none;
    color: $mainTextColor
  }
  &__musicNote {
    width: 10rem;
    margin-top: 3rem;
    margin-right: 2rem;
    opacity: 1;
    &:hover {
      opacity: 0.7;
      transition: all 0.25s linear;
     
    }
  }
  &__right {
    flex: 0.6;
  }
  &__subtitle{
    color: $secondTextColor;
    padding-left: 2rem;
    font-size: 0.8rem;
  }
  &__title {
    font-size: 2.5rem;
    padding: 2rem 0 1rem 2rem;
  }
  &__singers {
    display: flex;
    flex-direction: row;
  }
  &__singer{
    &-img {
      width: 3rem;
      height: 3rem;
      border-radius: 1.5rem;
      object-fit: cover;
      margin: 1rem;
    }
  }
}
