@import "../../utils";
.header{
  height: 3rem;
  z-index: 1;
  width: calc(100vw - 15rem);
  position: absolute;
  top:0;
  right: 0;
  padding: 2rem;
  display: flex;
  justify-content: flex-end;
  &__link {
    text-decoration: none;
    color: $mainTextColor;
    &:hover {
      color: $greyLighter;
      transition: all 0.25s linear;
    }
  }
}
