@import "../../utils";
.header{
  height: 3rem;
  z-index: 1;
  width: calc(100vw - 15rem);
  position: absolute;
  top:0;
  right: 0;
  padding: 2rem;
  display: flex;
  justify-content: space-evenly;
  &__left {
    position: relative;
    flex: 0.4;
    color: $mainTextColor;
    border-radius: 1.5rem;
    &-icon {
      @include positionAbsolute(absolute, 30%, 97%, translate(-50%, 0));
    }
    & > input {
      height: 100%;
      background-color: $greyLighter2;
      border: none;
      width: 100%;
      @include positionAbsolute(absolute, 0, 10%, translate(0, 0));
      border-radius: 1.5rem;
      padding-left: 1.5rem;
      outline: none;
      color: $mainTextColor;
    }
  }
  &__right {
    display: flex;
    align-items: center;
    flex: 0.5;
    color: $secondTextColor;
    justify-content: flex-end;
    &-user {
      font-size: 0.8rem;
      margin-right: 5rem;
      display: flex;
      align-items: center;
      & > h4 {
        margin-left: 0.5rem;
      }
    }
  }
  &__link {
    text-decoration: none;
    color: $mainTextColor;
    &:hover {
      color: $greyLighter;
      transition: all 0.25s linear;
    }
  }
}
