@import "../../utils";
@include displayGrid();
@include song();
.loveSong__title {
  padding: 2rem;
  font-size: 2rem;
}
.loveSong__musicControl {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}
.container__body-right {
  margin-right: 4rem;
}

.container__body-left {
  position: fixed;
  left: 0;
  bottom: 0
}
