$greyDark: #040404;
$greyLight: #131313;
$greyLighter:#e8e8e8;
$greyLighter2: #5f5e5e;
$mainTextColor: #fff;
$secondTextColor: #cccccc;
$boxShadowColor: #2c2c2c;
@mixin bigButton {
  width: 15rem;
  height: 3rem;
  background-image: linear-gradient(37deg, rgb(45, 46, 46),rgb(5, 5, 5));
  border-radius: 1.5rem;
  vertical-align: middle;
  align-items: center;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 5px 0 $boxShadowColor;
  cursor: pointer;
  &:hover {
    background-image: linear-gradient(0deg, rgba(138, 138, 138, 0.15) 0%,rgba(91, 92, 91, 0.15) 100%),linear-gradient(90deg, rgb(0, 1, 12),rgb(32, 39, 39));
    transition: all 0.25s linear;
    color: $secondTextColor
  }
}
@mixin positionAbsolute($position, $top, $left,$tranform) {
  position: $position;
  top:$top;
  left: $left;
  transform : $tranform;
}
@mixin flex( $flex, $alignItem, $direction, $justifyContent) {
  display: $flex;
  align-items: $alignItem;
  flex-direction: $direction;
  justify-content: $justifyContent;
}
@mixin flexAlignCenter {
  display: flex;
  align-items: center;;
}
@mixin  footerFragtion {
  display: flex;
  padding: 1.5rem;
  justify-content: space-between;
}

$background-image: linear-gradient(180deg, rgb(56, 55, 55),rgb(0, 0, 0));
@mixin signUp-SingIn {
  border-radius: 40rem;
  z-index: 2;
  background-color:#111;
  opacity: 0.3;
  box-shadow: 0 0 10px 0 $boxShadowColor;
  width: 30rem;
  color: $mainTextColor;
  &:hover {
    opacity: 0.7;
    transition: all 0.25s linear;
    width: 35rem;
  }
  &__logo {
    height: 3rem;
    width: 3rem;
    border-radius: 0.3rem;
  }
  &__title {
    font-size: 2rem;
    color: $mainTextColor;
    text-align: center;
    padding: 2rem;
  }
  &__form {
    opacity: 0.7;
    border-radius: 0.3rem;
    margin: 0 auto;
    align-items: center;
    max-width: 25rem;
    height: 30rem;
  }

  &__Innerform {
    @include flex(flex, center, column, center);
    margin: 0 auto;
    width: 100%;
    width: 22rem;
    color: $mainTextColor;
  }
  &__input {
    width: 100%;
    padding: 0.5rem;
    height: 3rem;
    border: 0;
    box-sizing: border-box;
    outline: none;
    font-size: 1rem;
    border-radius: 0.3rem;
    margin-bottom: 2rem;

  }
  &__button {
    @include bigButton();
    border:0;
    font-size: 1rem;
    color: $mainTextColor
  }

  &__toSignUp, &__link {
    font-size: 0.8rem;
    color: $mainTextColor;
    text-decoration: none;
    margin: 2rem 0.5rem;
    text-align: center;
  }
  
}

@mixin song {
  .song {
    cursor: pointer;
    height: auto;
    padding: 1rem 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:hover {
      background-color: $secondTextColor;
      border-radius: 0.3rem;
      color:  $greyLight;
      transition: all 0.25s linear;
    }
    &__icon {
      margin-right: 2rem;
      display: flex;
      justify-content: flex-end;
      cursor: pointer;
    }
    &__img {
      width: 5rem;
      height: 4rem;
      border-radius: 0.3rem;
      margin: 0 2rem;
    }
    &__detail {
      font-size: 0.8rem;
      font-weight: 300;
      min-width: 10rem;
      align-items: center;
      display: flex;
      & > h4 > p {
        font-size: 0.6rem;
        margin-top: 0.5rem;
      }
    }
  }
  
}

@mixin displayGrid(){
  .container__header {
    grid-area: header;
    height: 5rem;
  }
  
  .container__body-left {
    grid-area: sidebar;
    height: 100%;
  }
  .container__body-right {
    grid-area: body;
    height: 100%;
    
  }
  
  .container{
    min-height: 100% !important;
    display: grid;
    grid-template-columns: repeat( 5, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
      "sidebar header header header header"
      "sidebar body body body body"
  }
}
