@import "../../utils";
.albumBody {
  margin-top: 2rem;
  width: 95%;
  height: fit-content;
  &__icons {
    display: flex;
    align-items: center;
    padding: 1rem;
  }
  &__info{
    display: flex;
    align-items: center;
  }
 &__inforMusicControl {
   font-size: 1rem;
   color: $mainTextColor;
   font-weight: 300;
   flex: 1;
   margin-left: 2rem;;
  & > h2 {
    font-size: 2rem;
    padding: 1rem;
  }
  & > strong , > p{
    padding:  0.5rem 1rem;
  }
  
 }
  &__img {
    width: 23rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 0.3rem;
    margin: 1rem;
    opacity: 0.7;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  }
  &__musicCOntrol{
    width: 110%;
  }
  &__playlist {
    margin-left: 2rem;
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 1rem;
    text-transform: uppercase;
  }
  &__songs {
    height: auto;
  }

}
